#comment
# allowed tags
# %[DATE]
# %[IP]
# %[PORT]
# %[LENGTH]
# %[SVPASS]
# %[COMMENTS]
# %[USERNAME]
# %[MOD]
# %[SITENAME]
# %[SITECONTACT]
# %[SERVERNAME]
# %[USEREMAIL]

This message is from the %[SITENAME] bookable server system.  The user,
%[DISPLAYNAME], has listed you in his contacts to receive information about 
time slots booked on our servers.  To be removed from this list, please contact 
%[USEREMAIL].  If %[DISPLAYNAME] does not repsond to your request, contact 
the site administrator at %[SITECONTACT].

Match Details
--------------------------
Server Hostname: %[SERVERNAME]
IP Address: %[IP]:%[PORT]
Connect Pass: %[SVPASS]
Date: %[DATE]
Duration: %[LENGTH]

Comments from %[DISPLAYNAME]:
--------------------------
%[COMMENTS]


Please reply directly to %[USEREMAIL] and indicate if you 
will be available for this booking.
